.backButton {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  gap: 8px;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 32px;
  cursor: pointer;
  /* disable select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buttonText {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
}

.icon {
  transform: rotate(90deg);
}

.paymentMethodText {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.33000001311302185px;
  margin-bottom: 80px;
}

.inputs {
  display: flex;
  gap: 24px;
}

.radio {
  width: 257px;
  height: 84px;
  box-shadow: 0px 6px 24px 0px #00000026;
  padding: 24px;
  border: 1px solid #cbd6fa;
  display: flex;
  border-radius: 16px;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.btn {
  margin-top: 80px;
  width: 422px;
  height: 58px;
}

.btnView {
  padding-left: 10%;
}

.radioActive {
  border: 1px solid #e53935;
  color: #e53935;
}

.breadcrumb {
  display: none;
}

@media screen and (max-width: 1180px) {
  .root {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .paymentMethodText {
    text-align: center;
  }
  .inputs {
    justify-content: space-between;
    width: 70%;
  }
  .btn {
    width: 100%;
  }
  .btnView {
    width: 70%;
    padding-left: 0;
  }
  .backButton {
    display: none;
  }

  .breadcrumb {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .backButtonMobile {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .inputs {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
